.navEnd {
    justify-content: end;
}

.showcase {
    background: black url(imgs/TRUETRUCK.jpg);
    padding: 100px;
    margin-top: 10px;
}

.showcaseText{
    margin-left: 100px;
}

.imgLogo {
    width: 20%;
    height: 20%;
    background: transparent;
}

.table {
    width: 70%;
}
.tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.printButtonDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.cantBonif{
    display: flex;
    justify-content: center;
}

input[type='number']{
    width: 140px;
} 

.centerInput{
    display: flex;
    justify-content: center;
}

.btn-primary{
    font-size: 14px;
}