.navEnd {
    justify-content: end;
}

.showcase {
    background: black url('imgs/TRUETRUCK.jpg');
    padding: 100px;
    margin-top: 10px;
}

.showcaseText{
    margin-left: 100px;
}

.imgLogo {
    width: 17%;
    height: 17%;
    background: transparent;
    margin: none;
}

.table {
    width: 70%;
}
.tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.printButtonDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.cantBonif{
    display: flex;
    justify-content: center;
}

input[type='number']{
    width: 140px;
} 

.centerInput{
    display: flex;
    justify-content: center;
}

.btn-primary{
    font-size: 12px;
    padding: none;
}

#map{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}
section h2{
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(192, 14, 14);
    text-align: left;
    margin-bottom: 20px;
}

section p {
    font-size: 16px;
    font-weight: 300;
}

.heroimg {
    height: 100%;
    width: 100%;
    border-radius: 0%;
}

#hero .col {
    justify-content: center;
    flex-direction: column;
    display: flex;
}

#hero .img-col{
    justify-content: flex-end;
}

#hero .card{
    box-shadow: 11px 7px 16px #f9f9f9;
    border: 0;
    text-align: center;
}
#hero .icon{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#projects .card{
    border: solid 1px rgb(165, 16, 16);
}

#projects{
    background-color: rgba(128, 128, 128, 0.199);
}

.cardsdiv {
    margin-top: 20px;
}

#projects .projects{
    margin-bottom: 30px;
}

#hero .card{
    margin-top: 10px;
}

.carouselContainer {
    height: 400px;
}
.carouselContainer img{
    width: 100%;
    height: 400px;
    border-radius: 1%;
    box-shadow: #000;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
}

.carouselContainer button{
    margin-left: 10px;
}


.iconsDiv i{
    font-size: 30px;
    margin-left: 8px;
}

#projects .col-sm{
    text-align: center;
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(156, 14, 14); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  table{
    border: 1px solid black;
  }
.clienteInfo{
    display: flex;
}
.clienteContainer{
    display: flex;
    justify-content: center;
}
.inputCliente{
    width: 200px;
}
.infoCliente{
    margin-top: 5px;
}
#inputInfoContainer{
    width: 600px;
}
#datosFont{
    color: #531c1c; 
    font-family: 'Raleway',sans-serif; 
    font-size: 27px; font-weight: 800; 
    line-height: 32px; 
    text-align: center; 
    text-transform: uppercase; 
}



#whatsapp-widget-timelines {    position: fixed;    bottom: 20px;    height: max-content;    display: flex;    align-items: center;    gap: 2rem;    z-index: 99999999;  }  #whatsapp-widget-timelines .ww-icon {    display: flex;    flex-direction: column;    justify-content: center;    align-items: center;    gap: 5px;  }  #whatsapp-widget-timelines .ww-link {    opacity: 1;    display: block;    position:  absolute;    bottom: -15px;    text-align: center;    white-space: nowrap;    text-decoration: none;    width: 60px;    font-family: Roboto, "Helvetica Neue", sans-serif;    font-size: 11px;    line-height: 11px;    border: 0px;    max-width: inherit;    color: rgb(175, 175, 175) !important;  }  #whatsapp-widget-timelines .ww-link:hover {    border: 0px;    text-decoration: underline !important;    color: rgb(175, 175, 175) !important;  }  #whatsapp-widget-timelines .ww-text {    border-radius: 8px;    border: 1px solid #e2e2e2;    min-height: 56px;    width: 200px;    cursor: pointer;    word-break: break-word;    background: white;    padding: 1rem;    position: relative;    box-shadow: 2px 2px 15px 2px rgb(0 0 0 / 17%);  }  #whatsapp-widget-timelines .ww-text::after {    content: "";    position: absolute;    top: 50%;    width: 20px;    height: 20px;    border-right: 1px solid #e2e2e2;    border-bottom: 1px solid #e2e2e2;    background-color: white;  }  #whatsapp-widget-timelines svg {    fill: rgb(255, 255, 255);    z-index: 1;    border-radius: 50px;    background-color: rgb(77, 194, 71);    box-shadow: rgb(0 0 0 / 40%) 2px 2px 6px;    cursor: pointer;  }  #whatsapp-widget-timelines.ww-right .ww-text::after {    right: -10px;    transform: translateY(-50%) rotate(-45deg);  }  #whatsapp-widget-timelines.ww-left .ww-text::after {    left: -10px;    transform: translateY(-50%) rotate(135deg)  }  #whatsapp-widget-timelines.ww-left {    left: 20px;    flex-direction: row-reverse;  }  #whatsapp-widget-timelines.ww-right {    right: 20px;    flex-direction: row;  }  #whatsapp-widget-timelines.ww-big svg {    height: 75px;    width: 75px;  }  #whatsapp-widget-timelines.ww-medium svg {    height: 65px;    width: 65px;  }  @media(max-width: 768px){    #whatsapp-widget-timelines{      gap:1rem;    }    #whatsapp-widget-timelines svg{      width: 50px!important;      height: 50px!important;    }    #whatsapp-widget-timelines .ww-text{      padding: 0.5rem  1rem;      min-height: 35px;    }  }

/* media queries to make it work on mobile kinda of */
/* i have to fix the index banner and the table on the presupuestador somehow */
/* it breaks at 823 width 411 height */

@media only screen and (max-width: 823px){
    .carousel-caption{
        top: 40%;
        font-size: 60%;
    }    
    #buttonPresupuesto{
        margin-top: 6px;
    }

    #imgWPP {
        height: 12%;
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
    #myBtn{
        bottom: 10px;
        left: 10px;
    }
    .heroimg{
        height: 40%;
        margin-bottom: 100%;
    }
    .mapaClase{
        margin-left: 10px;
    }
    /* MAKING THE PRESUPUTADOR RESPONSIVE*/
      .infoCliente{
          width: 60%;
      }
      .tableContainer button{
          font-size: 10px;
          margin-top: 20%;
          width: 50%;
          height: 50%;
      }
      .tableContainer input{
        width: 100%;
    }

    /*making logo bigger, works just fine */
    .imgLogo{
        width: 80%;
        height: 80%;
        margin-left: 5px;
    }
}
/* MAKING THE PRESUPUTADOR RESPONSIVE*/
@media screen and (max-width: 1280px) {
    #tableToPrint {
      display: block;
      overflow-x: auto;
    }
}

@media screen and (max-width: 768px) {
    #tableToPrint {
      display: block;
      overflow-x: auto;
    }
}


@media screen and (max-width: 320px) {
    #tableToPrint {
      display: block;
      overflow-x: auto;
    }
}